<script>
	var shoppingAssistantFilter = {filter -> f:format.raw()};
</script>

<div class="shopping-assistant">
	<script id="sa-templates" type="text/template" class="sa-templates">
		<ul id="sa-categories" class="sa-categories">
			<li>
				<div class="radio">
					<label>
						<input type="radio" name="sa-filter-category" value="0"><span><f:translate key="filter.name"/></span>
					</label>
				</div>
			</li>
		</ul>
		<div id="sa-refine" class="sa-refine">
			<div id="sa-refine-subcategory" class="sa-refine-item">
				<label for="sa-subcategory"><f:translate key="filter.chooseSubcategory"/></label>
				<select id="sa-subcategory" name="sa-subcategory">
					<option value="0">Null</option>
				</select>
			</div>
			<div id="sa-refine-subsubcategory" class="sa-refine-item">
				<label for="sa-subsubcategory"><f:translate key="filter.chooseProductset"/></label>
				<select id="sa-sub-subcategory" name="sa-subsubcategory">
					<option value="0">Null</option>
				</select>
			</div>
		</div>
	</script>

	<form id="sa-filter" action="?type={settings.ajaxType}" method="get" class="sa-filter">
		<h3><f:translate key="filter.chooseCategory"/></h3>
	</form>
</div>