<f:if condition="{results}">
	<f:then>
		<h2><f:translate key="headline" arguments="{0: resultCount}"/></h2>

		<table>
			<tbody>
				<tr> <f:comment> <!-- Images --> </f:comment>
					<td></td>
					<f:for each="{results.images}" as="image">
						<td>
							<f:if condition="{image}">
								<img src="http://www.top-10.ch/uploads/icons/list/products/{image}" alt=""/>
							</f:if>
						</td>
					</f:for>
				</tr>
				<tr> <f:comment> <!-- Brand --> </f:comment>
					<td><strong><f:translate key="brand" /></strong></td>
					<f:for each="{results.brands}" as="brand">
						<td><strong>{brand}</strong></td>
					</f:for>
				</tr>
				<tr> <f:comment> <!-- Model --> </f:comment>
					<td><strong><f:translate key="model" /></strong></td>
					<f:for each="{results.model}" as="model">
						<td><strong>{model}</strong></td>
					</f:for>
				</tr>
				<f:for each="{results.attributes}" as="attributes" key="attributeLabel">
					<tr>
						<td>{attributeLabel}</td>
						<f:for each="{attributes}" as="attribute">
							<td>{attribute}</td>
						</f:for>
					</tr>
				</f:for>
			</tbody>
		</table>
	</f:then>
	<f:else>
		<f:translate key="noResult" />
	</f:else>
</f:if>